<div class="content list ued">
    <dl>
        <dd ng-repeat="ued in ueds.list">
            <ul>
                <li class="cols-1 avatar">
                    <img ng-src="{{ued.avatar}}" width="32px" />
                </li>
                <li class="cols-2">
                    <div class="f12px">{{ued.id}}</div>
                    <div class="f16px">
                        <a ui-sref="b.m.ued.detail({id:ued.id})">{{ued.title}}</a>
                    </div>
                    <div>
                        <p>{{ued.summary}}</p>
                    </div>
                </li>
            </ul>
        </dd>
    </dl>
</div>