<div class="content">
    <header>
        <span class="logo"></span>
        <nav>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.ued">UED分享</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.fdf">FDF</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.utils">UTILS</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.directive">DIRECTIVE</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.filter">FILTER</a>
            </menu>
            <menu>
                <a ng-href="javascript:;" ui-sref="b.m.filter">OTHERS</a>
            </menu>
        </nav>
    </header>
    <div id="mainer">
        <div class="content">
            <nav class="left">
                <menu>
                    <a ng-href="#/candidate" ui-sref="b.m.ued">分</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.fdf">f</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.utils">U</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.directive">D</a>
                </menu>
                <menu>
                    <a ng-href="javascript:;" ui-sref="b.m.filter">F</a>
                </menu>
            </nav>
            <section class="main" ui-view="main"></section>
        </div>
    </div>
    <footer>

    </footer>
</div>